body{
    text-align: center;
    background-color: #272727;
}

.add-product-form{
    border: 1px solid brown;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 50px;

}