body {
  background-color: #0d1b2a;  
  color: #f8f9fa;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.not-found{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 200px;
  padding-bottom: 50px;
  background-color: #347bc7;
  color: #0d1b2a;
  border-radius: 25px;
  width: 40%;
}
.login-form{
  
  font-size: 40px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #243648;
  width: 40%;
  margin: 200px auto;
  border-radius: 10px;
  border: none;

}
.username,.password,.submit{
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  border: none;
  margin-top: 10px;


}
.submit{
  width: 25%;
  margin-top: 20px;

}
#back-home{
  color: #ffc107;
  font-size: 20px;
}
.back-home{
  background-color: #0d1b2a;
  padding: 10px;
  border-radius: 10px;
}