body{
    text-align: center;
    background-color: #a4cdc4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.add-product-form{
    border: 1px solid brown;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 50px;
    

}
img{
    border-radius: 10px;
}
.items{
    border-radius: 10px;
    margin: 10px 100px;
    
    
}
.parent{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
hr{
    width: 100%;
    height: 3px;
    background-color: rgb(0, 255, 204);
}
p{
    display: inline;
}
.not-found{

    padding-top: 80px;
    padding-bottom: 80px;
    margin: 100px auto;
    width: 600px;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    color: teal ;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;


}