body {
  background-color: #0d1b2a;  
  color: #f8f9fa;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.not-found{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 200px;
  padding: 10px 20px;
  background-color: #ffc107;
  color: black;
  border-radius: 25px;
}