<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login-form">
        <form  method="POST" action="/admin" id="login-form" >
            <div>
            
                <input type="text" name="username" id="username" class="username" placeholder="username">
            </div>
            <div>
            
                <input type="password" name="password" id="password" class="password" placeholder="password"><br>
                
                <button type="submit" class="submit" id="login">Login</button>
            </div>
        </form>
        <a href="{{ url_for('home') }}" class="btn btn-link mt-3 w-100" id="back-home">Back to Home</a>
    </div>
    <script src="/static/script.js">

    </script>
</body>
</html>