<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <form action="#" method="post">
        <div>
        <label>username</label>
        <input type="text" name="username">
        </div><br>
        <div>
        <label>password</label>
        <input type="password" name="password">
        
        <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>