<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel='stylesheet' href='../static/styles.css'>
</head>
<body>

    <div class='not-found'>
        <p style='margin-top : 80px; font-size : 50px' >
        Product not found <br><br> 404
        </p>
        <a href="/" class="btn btn-link mt-3 w-100 back-home" id="back-home" >Back to Home</a>    
    </div>

</body>
</html>